@model BDK.DB.ClassFeeDetail
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save", "ClassFeeDetails", FormMethod.Post)) {
<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-edit"></i> Class Fee Details</h2>
						<div class="box-icon">
							<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
						</div>
					</div>


    
				
    <div class="box-content">
						
						  <fieldset>
						
						            	<div class="control-group">
								        <label class="control-label" for="selectError">Class Name</label>
								        <div class="controls">
                                          @Html.DropDownListFor(m=>m.ClassId  ,new SelectList(@BDK.Controllers.ClassFeeDetailsController.FillClassCombo(),"Value","Text"))
								        </div>
							             </div>
                              <div class="control-group">
								        <label class="control-label" for="selectError">Fee Head</label>
								        <div class="controls">
                                          @Html.DropDownListFor(m=>m.FeeHeadID  ,new SelectList(@BDK.Controllers.ClassFeeDetailsController.FillFeeHeadCombo(),"Value","Text"))
								        </div>
							             </div>
                              

							<div class="control-group">
							  <label class="control-label" for="typeahead">
                                 Amount
							  </label>
							  <div class="controls">
								@*<input type="text" class="span6 typeahead" id="SName" value="@Model.SessionName">*@
                                  @Html.TextBoxFor(m => m.Amount  , new {@class="span6 typeahead", id="cname" })
                                  
							  </div>

                                 
                                @Html.HiddenFor(m => m.ID  )
                                 @Html.HiddenFor(m =>m.SeesionName   )





							</div>
							
							
							
							<div class="form-actions">
							  <button type="submit" class="btn btn-primary">Save changes</button>
							  <button type="reset" class="btn">Cancel</button>
							</div>
						  </fieldset>
						@*</form>*@   

                        
					</div>
                            
			
    
 

    </div>
}
<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-user"></i> Members</h2>
						<div class="box-icon">
							<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								  
								  <th>Class Name :</th>
                                  <th>Fee Head</th>
                                  <th>Amount :</th>
                                   <th>Action</th>
							  </tr>
						  </thead>   
						  <tbody>
							

								@foreach (var obj in @BDK.Controllers.ClassFeeDetailsController.Fillgrid())
        {<tr>
           
            <td class="center"> @(new BDK.DB.CollegeDBEntities().Classes.Where(x=> x.ClassId == obj.ClassId ).FirstOrDefault().ClassName ) </td>
            <td class="center"> @(new BDK.DB.CollegeDBEntities().FeeHeads.Where(x=> x.FeeId == obj.FeeHeadID ).FirstOrDefault().FeeeName ) </td>
        			<td class="center">@obj.Amount </td>
            
            
								<td class="center">
									
									<a class="btn btn-info" href="@Url.Action("EditClassFeeDetail", new {id = obj.ID })">
										<i class="icon-edit icon-white"></i>  
										Edit                                            
									</a>
									<a class="btn btn-danger" href="#">
										<i class="icon-trash icon-white"></i> 
										Delete
									</a>
								</td>
							</tr>
        }
							
							
							
						  </tbody>
					  </table>            
					</div>
				</div>
