@model BDK.DB.Class 
@{
    ViewBag.Title = "Class";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Save", "Class", FormMethod.Post)) {
<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-edit"></i> Form Elements</h2>
						<div class="box-icon">
							<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
						</div>
					</div>


    
				
    <div class="box-content">
						
						  <fieldset>
						


                              
						            	 <div class="control-group">
								        <label class="control-label" for="selectError">Course Type Select</label>
								        <div class="controls">






                              @Html.DropDownListFor(m=>m.CoursesID ,new SelectList(@BDK.Controllers.ClassController.FillCombo(),"Value","Text"))
								 
                                    
								</div>
							  </div>
                              

							<div class="control-group">
							  <label class="control-label" for="typeahead">
                                 Class Name
							  </label>
							  <div class="controls">
								@*<input type="text" class="span6 typeahead" id="SName" value="@Model.SessionName">*@
                                  @Html.TextBoxFor(m => m.ClassName  , new {@class="span6 typeahead", id="cname" })
                                  
							  </div>

                                 <label class="control-label" for="typeahead">
                                 Max Practical
							  </label>
							  <div class="controls">
								@*<input type="text" class="span6 typeahead" id="SName" value="@Model.SessionName">*@
                                  @Html.TextBoxFor(m => m.MaxPractical   , new {@class="span6 typeahead", id="cname" })
                                  
							  </div>
                                      <label class="control-label" for="typeahead">
                                 Mini Practical
							  </label>
							  <div class="controls">
								@*<input type="text" class="span6 typeahead" id="SName" value="@Model.SessionName">*@
                                  @Html.TextBoxFor(m => m.MiniPractical    , new {@class="span6 typeahead", id="cname" })
                                  
							  </div>
                                @Html.HiddenFor(m => m.ClassId  )
                                 @Html.HiddenFor(m =>m.sessionName   )





							</div>
							
							
							
							<div class="form-actions">
							  <button type="submit" class="btn btn-primary">Save changes</button>
							  <button type="reset" class="btn">Cancel</button>
							</div>
						  </fieldset>
						@*</form>*@   

                        
					</div>
                            
			
    
 

    </div>
}
<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-user"></i> Members</h2>
						<div class="box-icon">
							<a href="#" class="btn btn-setting btn-round"><i class="icon-cog"></i></a>
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
							<a href="#" class="btn btn-close btn-round"><i class="icon-remove"></i></a>
						</div>
					</div>
					<div class="box-content">
						<table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								  <th>Course Name :</th>
								  <th>Class Name :</th>
                                  <th>Max Practical :</th>
                                  <th>Mini Practical :</th>
                                   <th>Action</th>
							  </tr>
						  </thead>   
						  <tbody>
							

								@foreach (var obj in @BDK.Controllers.ClassController.Fillgrid())
        {<tr>
           
            <td class="center"> @(new BDK.DB.CollegeDBEntities().CoursesTypes.Where(x=> x.ID == obj.CoursesID ).FirstOrDefault().CoursesName ) </td>
        			<td class="center">@obj.ClassName </td>
            <td class="center">@obj.MaxPractical  </td>
            <td class="center">@obj.MiniPractical  </td>
            
								<td class="center">
									
									<a class="btn btn-info" href="@Url.Action("EditClass", new {ClassId = obj.ClassId })">
										<i class="icon-edit icon-white"></i>  
										Edit                                            
									</a>
									<a class="btn btn-danger" href="#">
										<i class="icon-trash icon-white"></i> 
										Delete
									</a>
								</td>
							</tr>
        }
							
							
							
						  </tbody>
					  </table>            
					</div>
				</div>
